  html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
  }

  header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background: white;
    z-index: 1000;
  }

  body {
    padding-top: 80px; /* Prevent content being hidden behind header initially */
  }
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: auto;
}
#preloader
{
   background: #FFFFFF url("../images/windmill.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
